.col-0-l {display: none}
.col-1-l {width: 8.33%;}
.col-2-l {width: 16.66%;}
.col-3-l {width: 25%;}
.col-4-l {width: 33.33%;}
.col-5-l {width: 41.66%;}
.col-6-l {width: 50%;}
.col-7-l {width: 58.33%;}
.col-8-l {width: 66.66%;}
.col-9-l {width: 75%;}
.col-10-l {width: 83.33%;}
.col-11-l {width: 91.66%;}
.col-12-l {width: 100%;}

.container {
    display: flex;
    height: 100%;
    min-height: $hight-page;
    margin: 0;
    max-width: $width-page;
    min-width: $width-page;
}

.row {
	display: flex;
	flex-flow: row;
}

.invisible {
    display: flex;
}

.invisible-s {
    display: flex;
}

.visible {
    display: none !important;
}

.visible-s {
    display: none !important;
}

.availability {
    display: none;
}
