.frontpage {
    background-color: $background-content;
    color: $background-topbar;
    display: flex;
    flex-flow: column;
    height: $hight-page-maxl;
    position: relative;
    width: 100%;

    &__central {
        display: flex;
        height: 100%;
        width: 100%;
    }
}
