.period-section {
    border-left: 0.42mm solid $background-topbar;
    display: flex;
    flex-flow: row;
    padding-top: 4.2mm;

    &__square {
        background: rgba($background-topbar, 0.7);
        border: 0.1mm solid $background-topbar;
        border-left: none;
        height: 2.3mm;
        width: 2.3mm;
    }
    &__date {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        justify-content: space-between;
        padding-right: 4.2mm;
    }
    &__info {
        align-items: flex-start;
        display: flex;
        flex-flow: column;
    }
    &__describe {
        padding-top: 2.1mm;
        text-align: justify;
    }
}
