.placeholder {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 5.3mm 12.6mm 0mm 8.4mm;
    width: 100%;

    &:nth-child(5) {
        padding-top: 40mm;
    }

    &__header {
        border-bottom: 0.42mm solid $background-topbar;
        color: $background-topbar;
        font-family: $font-header;
        font-size: $font-sidebar-header;
        font-weight: bold;
        margin-left: 2.1mm;
        right: 0;
        width: 70%;
    }

    &__box {
        display: flex;
        flex-flow: column;
        margin-left: 4.2mm;
        margin-top: 3.1mm;
        text-align: justify;
    }

    &__content {
        border-left: 0.42mm solid $background-topbar;
        display: flex;
        flex-flow: row;
        padding-top: 4.2mm;

        &--square {
            background: rgba($background-topbar, 0.7);
            border: 0.1mm solid $background-topbar;
            border-left: none;
            height: 2.3mm;
            width: 2.3mm;
        }

        &--date {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
            justify-content: space-between;
            padding-right: 4.2mm;
        }

        &--info {
            align-items: flex-start;
            display: flex;
            flex-flow: column;
        }

        &--describe {
            padding-top: 2.1mm;
            text-align: justify;
        }
    }
    
    &__bold {
        font-weight: bold;
    }
}
