.sidebar {
    background-color: rgba($background-sidebar, 0.9);
    box-shadow: 0 0 4.2mm $background-topbar;
    display: flex;
    flex-flow: column;
    height: 100%;
    left: 4.2mm;
    position: absolute;
    top: 0;
    width: $width-sidebar;

    &__photo-cv {
        background: url("../images/cv.jpg") top left;
        background-size: cover;
        height: $width-sidebar;
        top: 0;
        width: $width-sidebar;
        z-index: 2;
    }

    &__box {
        display: flex;
        flex-flow: row wrap;
        padding: 10.5mm 6.3mm 0;
        width: 100%;

        &--content {
            height: 100%;
            width: 100%;
        }
    }

    &__box-below {
        display: flex;
        flex-flow: column;
        &--fission {
            display: flex;
            flex-flow: column;
            padding-left: 2.1mm;
            padding-right: 2.1mm;
        }
        &--content {
            border-left: 0.42mm solid $background-topbar;
            height: 100%;
            margin-left: 2.1mm;
            margin-top: 4.2mm;
            padding: 0 2.1mm;
            width: 100%;
        }
    }

    &__header {
        border-bottom: 0.42mm solid $background-topbar;
        color: $background-topbar;
        font-family: $font-header;
        font-size: $font-sidebar-header;
        font-weight: bold;
        width: auto;
    }

    &__contact {
        &--table {
            align-items: stretch;
            display: flex;
            justify-content: space-between;
            &:not(:last-of-type) {
            border-bottom: 0.21mm solid $background-topbar;
            }
        }

        &--icons {
            border-right: 0.42mm solid $background-topbar;
            color: $background-topbar;
            height: inherit;
            line-height: calc(1.6 * #{$font-sidebar-header});
            padding-right: 1.1mm;
        }

        &--info {
            align-items: center;
            color: $background-topbar;
            display: flex;
            line-height: calc(1.3 * #{$font-sidebar-header});
            justify-content: flex-end;
        }
    }

    &__skills {
        &--space {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }

        &--name {
            color: $background-topbar;
            font-weight: bold;
            line-height: calc(1.6 * #{$font-sidebar-header});
        }

        &--level {
            border: 0.1mm solid $background-topbar;
            display: flex;
            height: 1.5mm;
            justify-content: flex-start;
            width: 27.3mm;
        }

        &--level70 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 70%;
        }
        &--level65 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 65%;
        }
        &--level55 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 55%;
        }
        &--level50 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 50%;
        }
        &--level45 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 45%;
        }
        &--level35 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 35%;
        }
        &--level25 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 25%;
        }
        &--level15 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 15%;
        }
        &--level10 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 10%;
        }
    }

    &__interests {
        &--space {
            align-items: center;
            display: flex;
            justify-content: flex-start;
            padding: 2.1mm 0;
        }

        &--icons {
            color: $background-topbar;
            height: inherit;
            line-height: calc(1.6 * #{$font-sidebar-header});
            padding-right: 4.2mm;
        }

        &--info {
            color: $background-topbar;
            display: flex;
            justify-content: flex-end;
        }
    }
}
