.topbar {
    background-color: $background-topbar;
    display: flex;
    left: 0;
    height: $hight-topbar;
    width: 100%;
  
    &__name {
        align-items: center;
        color: $background-content;
        display: flex;
        font-family: $font-header;
        font-size: $font-name;
        font-weight: bold;
        height: 100%;
        justify-content: center;
    }
}
