.modal {
    align-items: center;
    background: rgba($background-topbar, 0.8);
    bottom: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.modalContent {
    align-items: center;
    display: flex;
    justify-content: space-between;
    @media (max-width: 500px) {
        flex-flow: column nowrap;
    }

    &__text {
        color: $background-content;
        font-size: $font-text;
        margin: 10px;
    }

    &__button {
        background: $background-content;
        border: none;
        border-radius: 3px;
        color: $font;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        margin: 10px;
        outline: none;
        padding: 8px 25px;
        transition: 0.3s;

        &:hover {
            background: lighten($background-content, 15%);
        }

        &:active {
            background: lighten($background-sidebar, 25%);
            color: darken($font, 20%);
        }
    }
}
