
.icon-eye:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-globe:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */