.frontpage {
    background-color: $background-content;
    box-shadow: 0 0 20px $background-topbar;
    color: $background-topbar;
    display: flex;
    flex-flow: column;
    height: $hight-page-maxl;
    position: relative;
    width: 100%;
    @media (max-width: 400px) {
        display: none;
    }
    @media (max-width: $l) {
        height: $hight-page-maxm;
    }
    @media (max-width: $s) {
        height: $hight-page-maxs;
    }
    &__central {
        display: flex;
        height: 100%;
        width: 100%;
        @media (max-width: $l) {
            position: absolute;
            top: $hight-topbar;
        }
    }
}
