.period-section {
    border-left: 2px solid $background-topbar;
    display: flex;
    flex-flow: row;
    padding-top: 20px;
    @media (max-width: $mins) {
        flex-flow: column;
    }
    &__square {
        background: rgba($background-topbar, 0.7);
        border: 0.5px solid $background-topbar;
        border-left: none;
        height: 11px;
        width: 11px;
        @media (max-width: $mins) {
            margin-right: 20px;
        }
    }
    &__date {
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        justify-content: space-between;
        padding-right: 20px;
        @media (max-width: $mins) {
            justify-content: flex-start;
        }
    }
    &__info {
        align-items: flex-start;
        display: flex;
        flex-flow: column;
        @media (max-width: $mins) {
            margin-left: 31px;
            padding-top: 20px;
        }
    }
    &__describe {
        padding-left: 25px;
        padding-top: 10px;
        text-align: justify;
    }
}
