.placeholder {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding: 20px 60px 0px 20px;
    width: 100%;
    &:first-of-type {
        @media (max-width: $l) {
            padding-top: $hight-topbar;
        }
    }
    @media (max-width: $l) {
        padding-left: 60px;
    }

    &__header {
        border-bottom: 2px solid $background-topbar;
        color: $background-topbar;
        font-family: $font-header;
        font-size: $font-sidebar-header;
        font-weight: bold;
        margin-left: 10px;
        right: 0;
        width: 70%;
    }
    &__box {
        display: flex;
        flex-flow: column;
        margin-left: 20px;
        margin-top: 30px;
        text-align: justify;
        @media (max-width: $l) {
            margin-right: 20px;
        }
    }
}
