.sidebar {
    background-color: rgba($background-sidebar, 0.9);
    box-shadow: 0 0 20px $background-topbar;
    display: flex;
    flex-flow: column;
    height: 100%;
    left: 20px;
    position: absolute;
    top: 0;
    transition-duration: $time-break-point;
    width: $width-sidebar;
    @media (max-width: $l) {
//        align-items: flex-start;
        background-color: rgba($background-sidebar, 0.3);
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        justify-content: center;
        left: 5%;
        margin: auto;
        width: 90%;
    }
    &__photo-cv {
        background: url("../images/cv.jpg") top left;
        background-size: cover;
        height: $width-sidebar;
        top: 0;
        width: $width-sidebar;
        z-index: 2;
        @media (max-width: $l) {
            box-shadow: 0 0 20px $background-topbar;
//            display: flex;
            left: 5%;
            position: absolute;
            top: calc(0.5 * #{$hight-topbar});
        }
        @media (max-width: $s) {
            left: calc(0.5 * (100% - #{$width-sidebar}));
            position: absolute;
        }
    }

    &__box {
        display: flex;
        flex-flow: row wrap;
        padding: 50px 30px 0 30px;
        width: 100%;
        @media (max-width: $l) {
            padding: calc(1.1 * #{$hight-topbar}) 40px 0 80px;
        }
        &--content {
            height: 100%;
            width: 100%;
        }
    }

    &__box-below {
        display: flex;
        flex-flow: column;
        &--fission {
            display: flex;
            flex-flow: column;
            padding-left: 10px;
            padding-right: 10px;
        }
        &--content {
//            border-left: 2px solid $background-topbar;
            height: 100%;
            margin-left: 10px;
            margin-top: 20px;
            padding: 0 10px;
            width: 100%;
        }
    }

    &__header {
        border-bottom: 2px solid $background-topbar;
        color: $background-topbar;
        font-family: $font-header;
        font-size: $font-sidebar-header;
        font-weight: bold;
        width: auto;
    }

    &__contact {
        &--table {
            align-items: stretch;
            display: flex;
            justify-content: space-between;
            &:not(:last-of-type) {
            border-bottom: 1px solid $background-topbar;
            }
        }
        &--icons {
            border-right: 2px solid $background-topbar;
            color: $background-topbar;
            height: inherit;
    //            display: flex;
            line-height: calc(1.6 * #{$font-sidebar-header});
            padding-right: 5px;
            @media (max-width: $l) {
                line-height: calc(1.2 * #{$font-sidebar-header});
            }
        }
        &--info {
            align-items: center;
    //            border-bottom: 1px solid transparent;
            color: $background-topbar;
            display: flex;
            line-height: calc(1.3 * #{$font-sidebar-header});
            justify-content: flex-end;
        }
    }

    &__skills {
        &--space {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
        &--name {
            color: $background-topbar;
            font-weight: bold;
            line-height: calc(1.6 * #{$font-sidebar-header});
            @media (max-width: $l) {
                font-size: $font-mini;
                line-height: calc(1 * #{$font-sidebar-header});
            }
        }
        &--level {
            border: 0.5px solid $background-topbar;
            display: flex;
            height: 7px;
            justify-content: flex-start;
            width: 130px;
        }
        &--level70 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 70%;
        }
        &--level65 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 65%;
        }
        &--level55 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 55%;
        }
        &--level50 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 50%;
        }
        &--level45 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 45%;
        }
        &--level35 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 35%;
        }
        &--level25 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 25%;
        }
        &--level15 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 15%;
        }
        &--level10 {
            background: rgba($background-topbar, 0.8);
            height: 100%;
            width: 10%;
        }
    }

    &__interests {
        &--space {
            align-items: center;
            display: flex;
            justify-content: flex-start;
            padding: 10px 0;
            @media (max-width: $l) {
                justify-content: flex-start;
            }
        }
        &--icons {
//            border-right: 2px solid $background-topbar;
            color: $background-topbar;
            height: inherit;
    //            display: flex;
            line-height: calc(1.6 * #{$font-sidebar-header});
            padding-right: 20px;
        }
        &--info {
            color: $background-topbar;
            display: flex;
            justify-content: flex-end;
            @media (max-width: $l) {
//                font-size: $font-mini;
                line-height: calc(1 * #{$font-sidebar-header});
            }
        }
    }
}
.invisible {
    @media (max-width: $l) {
        display: none;
    }
}
