.topbar {
    background-color: $background-topbar;
    display: flex;
    left: 0;
//        transition-duration: $time-break-point;
    height: $hight-topbar;
    width: 100%;
    @media (max-width: $l) {
        left: 5%;
        margin: auto;
        position: absolute;
        top: 0;
        width: 90%;
        z-index: 1;
    }
    &__name {
        align-items: center;
        color: $background-content;
        display: flex;
        font-family: $font-header;
        font-size: $font-name;
        font-weight: bold;
        height: 100%;
        justify-content: center;
        transition-duration: $time-break-point;
        @media (max-width: $l) {
            align-items: flex-start;
            justify-content: center;
            padding-top: calc(0.18 * #{$hight-topbar});
        }
        @media (max-width: $s) {
            font-size: $font-name-s;
            padding-top: calc(0.18 * #{$hight-topbar});
        }
    }
}
