.animation{
    &__top_start {
        animation-name: top_start;
        animation-duration: 2s;
    }
    &__headerR_start1 {
        animation-name: headerR_start1;
        animation-duration: 1.5s;
    }
    &__headerL_start1 {
        animation-name: headerL_start1;
        animation-duration: 1.5s;
    }
    &__headerR_start2 {
        animation-name: headerR_start2;
        animation-delay: 0.3s;
        animation-duration: 1.5s;
        animation-fill-mode: backwards;
    }
    &__headerL_start2 {
        animation-name: headerL_start2;
        animation-delay: 0.3s;
        animation-duration: 1.5s;
        animation-fill-mode: backwards;
    }
    &__headerR_start3 {
        animation-name: headerR_start3;
        animation-delay: 0.6s;
        animation-duration: 1.5s;
        animation-fill-mode: backwards;
    }
    &__headerL_start3 {
        animation-name: headerL_start3;
        animation-delay: 0.6s;
        animation-duration: 1.5s;
        animation-fill-mode: backwards;
    }
}

@keyframes top_start {
    0% {transform: translateY(-200px);}
    100% {transform: translateY(0);}
}

@keyframes headerR_start1 {
    0% {
        transform: translateX(300px);
        color: rgba($background-topbar, 0.2)
    }
    100% {
        transform: translateX(0);
        color: $background-topbar;
    }
}

@keyframes headerL_start1 {
    0% {
        transform: translateX(-200px);
        color: rgba($background-topbar, 0.2)
    }
    100% {
        transform: translateX(0);
        color: $background-topbar;
    }
}

@keyframes headerR_start2 {
    0% {
        transform: translateX(400px);
        border-bottom: 2px solid rgba($background-topbar, 0);
        color: rgba($background-topbar, 0)
    }
    100% {
        transform: translateX(0);
        color: $background-topbar;
        border-bottom: 2px solid $background-topbar;
    }
}

@keyframes headerL_start2 {
    0% {
        transform: translateX(-200px);
        border-bottom: 2px solid rgba($background-topbar, 0);
        color: rgba($background-topbar, 0)
    }
    100% {
        transform: translateX(0);
        color: $background-topbar;
        border-bottom: 2px solid $background-topbar;
    }
}

@keyframes headerR_start3 {
    0% {
        transform: translateX(500px);
        border-bottom: 2px solid rgba($background-topbar, 0);
        color: rgba($background-topbar, 0)
    }
    100% {
        transform: translateX(0);
        color: $background-topbar;
        border-bottom: 2px solid $background-topbar;
    }
}

@keyframes headerL_start3 {
    0% {
        transform: translateX(-200px);
        border-bottom: 2px solid rgba($background-topbar, 0);
        color: rgba($background-topbar, 0)
    }
    100% {
        transform: translateX(0);
        color: $background-topbar;
        border-bottom: 2px solid $background-topbar;
    }
}
