@import './base/config.scss';
@import './base/rwd.scss';
@import './animations.scss';
@import './containers/frontpage.scss';
@import './containers/topbar.scss';
@import './containers/placeholder.scss';
@import './containers/period-section.scss';
@import './containers/sidebar.scss';
@import './fontello/fontello.css';
@import './modal/modal.scss';

* {
    box-sizing: border-box;
}

body {
    background: $background-body;
    font-family: $font-content;
    font-size: $font-text;
    @media (max-width: 400px) {
        background: $background-content;
    }
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition-duration: 0.5s;
    transition-timing-function: linear;

    &:hover {
        color: #c1cc9c;
    }
}

li {
    color: rgba($background-topbar, 0.9);
    list-style-position: outside;
    list-style-type: square;
    text-indent: -25px;
}

p {
    line-height: 130%;
    margin: 0;
    margin-bottom: 10px;
    text-indent: 30px;
}
