@import './pdf/base/config.scss';
@import './pdf/base/_rwd.scss';
@import './pdf/containers/frontpage.scss';
@import './pdf/containers/topbar.scss';
@import './pdf/containers/placeholder.scss';
@import './pdf/containers/period-section.scss';
@import './pdf/containers/sidebar.scss';
@import './fontello/fontello.css';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-content;
    font-size: $font-text;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    color: rgba($background-topbar, 0.9);
    list-style-type: square;
}
